@{
  Layout = "_Layout";
}

  <div class='container'>
      <div class='jumbotron'>
          <h1>Do It!</h1>
          <p>A to-do list app to keep you on track throughout your day!</p>
      </div>
  </div>