@{
  Layout = "_Layout";
}

  <div class='container'>
    <div class='row'>
      <form id='sign-up' action='/user/new' method='post'>
        <div class='form-group'>
          <label for='full-name'>Full Name:</label>
          <input type='text' name='full-name' id='full-name' class='form-control'>
        </div>
        <button type='submit' class='btn btn-lg btn-success'>Sign Up</button>
        <a href='/' class='btn btn-lg btn-default'>Back</a>
      </form>
    </div>
  </div>