.page-heading {
  margin-bottom: 30px;
}

.account-list {
  margin: 30px auto 30px auto;
}

.account-heading {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5em;
  width: 50%;
  border-bottom: 3px solid #333;
  margin-bottom: 20px;
  margin-top: 20px;
}

.account-details {
  
}