@{
  Layout = "_Layout";
  var index = 1;
}

  <div class='container'>
      <div class='row'>
          <div class='page-heading'>
              <h2>Items</h2>
              <p>Below is a list of user items in our Do It! app:</p>
          </div>
          <div class='section-list'>
              @foreach (var item in Model)
              {
                  <div class='section-heading'>Item @index</div>
                  <div class='section-details'>
                    ID: @item.GetId()<br/>
                    Description: @item.GetDescription()<br/>
                  </div>
                  index++;
              }
          </div>
      </div>
  </div>